<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>AddAdmin</title>
</head>
<body>
<div >
  <a href="/api/picture/show"><span style='font-size:200%;'>Picture</span></a>
  <form action="/api/admin/add" method="post" >

    <label for="lusername">New Username:</label><br>
    <input type="text" id="lusername" name="username"><br>

    <label for="lname">New Name:</label><br>
    <input type="text" id="lname" name="name"><br>

    <label for="lpassword">New password:</label><br>
    <input type="text" id="lpassword" name="password"><br>

    <label for="lrole">New Roles:</label><br>
    <input type="text" id="lrole" name="role"><br>

    <label for="lpermission">New Permission:</label><br>
    <input type="text" id="lpermission" name="permissions"><br>

    <br>
    <input type="submit" value="Submit">
  </form>
</div>
</body>
</html>