<!doctype html>
<head>
    <meta charset=utf-8/>
    <link rel=stylesheet type=text/css href=css/forgotPassword.css>

    <title>CodingBat </title></head>
<body>
<div style="float:right;  margin:0px; border: 1px solid lightgray;">
    <table th:if="${isUser == 'not'}">
        <form method="post" action="/login">
            <tbody>
            <tr>
                <td>email</td>
                <td><input type="text" name="email" size="20"></td>
            </tr>
            <tr>
                <td>password</td>
                <td><input type="password" name="password" size="20"></td>
            </tr>
            <tr>
                <td><input type="submit" name="login" value="log in"></td>
            </tr>
        </form>
        <tr>
            <td colspan="2"><a href='/forget-password'>forget password</a> | <a href=/register>create account</a></td>
        </tr>
        </tbody>
    </table>
    <table th:if="${isUser == 'yes'}">

        <h1 th:text = "${user.email}"></h1>
        <a href="/logout">Log out</a>
    </table>
</div>
<div style='float:right'>

</div>
<a href=/><span style='font-size:200%;'>CodingBat</span></a> code practice<h2>Password Reset</h2>
<form action="/api/user/reset-password" method="post">
<input type="text" name="email" placeholder="Enter email">
    <button type="submit">Submit</button>
</form>

</html>