<!doctype html>
<head>
    <meta charset=utf-8/>
    <link rel=stylesheet type=text/css href=css/forgotPassword.css>

    <title>CodingBat </title></head>
<body>
<div style="float:right;  margin:0px; border: 1px solid lightgray;">
    <table th:if="${isUser == 'not'}">
        <form method="post" action="/login">
            <tbody>
            <tr>
                <td>email</td>
                <td><input type="text" name="email" size="20"></td>
            </tr>
            <tr>
                <td>password</td>
                <td><input type="password" name="password" size="20"></td>
            </tr>
            <tr>
                <td><input type="submit" name="login" value="log in"></td>
            </tr>
        </form>
        <tr>
            <td colspan="2"><a href='/forget-password'>forget password</a> | <a href=/register>create account</a></td>
        </tr>
        </tbody>
    </table>
    <table th:if="${isUser == 'yes'}">

        <h1 th:text = "${user.email}"></h1>
        <a href="/logout">Log out</a>
    </table>
</div>
<div style='float:right'>
    <table>
        <tr>
            <td valign=top style='text-align:right' colspan=1><a href=/about.html>about</a> | <a
                    href=/help.html>help</a> | <a href=/doc/code-help-videos.html>code help+videos | <a
                    href=/done>done</a> | <a href='/pref'>prefs</a></td>
        </tr>
    </table>
</div>
<a href=/><span style='font-size:200%;'>CodingBat</span></a> code practice<h2>Password Reset</h2>
<form action='/' method=post><p>id/email <input name=uname type=text size=50><br><input type=submit
                                                                                        value='Send Password Reset'><input
        type=hidden name=doreset value=1></form>
<p style='max-width:800px'>This will send an email with a temporary password to the account email address. When you get
    the email, log in with the temporary password, and go to the prefs page to enter a new password. If the email does
    not arrive, double-check that the email address above is entered correctly.
<h2>Mozilla Persona</h2>
<p style='max-width:800px'>Unfortunately Mozilla ended the Persona project, but you can use the reset form above to log
    in to your account and set a password.
<p style='font-size:x-small;'>Copyright <a style='font-size:x-small;' href='http://www-cs-faculty.stanford.edu/~nick'>Nick
    Parlante</a> 2017 - <a style='font-size:x-small;' href=/privacy.html>privacy</a></body>
</html>