<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div>
    <h2><a href="Java">Java</a> <a href="Python">Python</a></h2>
    <div>
        <a style="text-decoration: none" href="subjectCrudHome.html"> Language crud</a>
        <div>
            <table class="table table-striped table-hover">
                <thead>
                </thead>
                <tbody>
                <tr th:each="pp: ${topicList}">
                    <td th:text="${pp.getName()}"/>
                    <h4><td th:text="${pp.getContent()}"/></h4>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>