<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Picture</title>
</head>
<body>
<a href="/">home</a><br>
<div>
<form action="/api/picture/upload" method="post" enctype="multipart/form-data">

<label for="myfile">Select a file:</label>
<input type="file" id="myfile" name="file">
    <br>
    <input type="submit" value="Submit">

</form>
    <br>
    <table>
        <tr>
            <td>
<!--                <img th:src="@{../static/9b4377f0-2bdd-4099-b9db-0d10e05dabaa.png}" alt="HTML5 Icon" style="width:128px;height:128px;">-->
            </td>
            <td>
<!--                <img :src="../static/image/c.jpg" alt="HTML5 Icon" style="width:128px;height:128px;"-->
<!--                     th:src="@{/image/c.jpg}"/>-->
<!--                <img th:src="${static/image/c.png}">-->
            </td>
        </tr>
    </table>
    <br>
</div>
<div sec:authorize="isAuthenticated()">
    <img th:src="@{../static/asserts/22.jpg}" width="22" height="22">
</div>
<div>
    <img src="../static/asserts/22.jpg" width="80" height="60">
</div>
</body>
</html>